<umb-box ng-hide="model.isElement">
    <umb-box-content>
        <div class="sub-view-columns">
            <div class="sub-view-column-left">
                <h5><localize key="contentTypeEditor_enableListViewHeading"></localize></h5>
                <small><localize key="contentTypeEditor_enableListViewDescription"></localize></small>
            </div>
            <div class="sub-view-column-right">
                <umb-list-view-settings 
                    enable-list-view="model.isContainer" 
                    model-alias="model.alias" 
                    list-view-name="model.listViewEditorName"
                    content-type="documentType">
                </umb-list-view-settings>
            </div>
        </div>
    </umb-box-content>
</umb-box>
<umb-empty-state
    ng-show="model.isElement"
    position="center">
    <localize key="contentTypeEditor_elementDoesNotSupport">This is not applicable for an Element type</localize>
</umb-empty-state>
