<div ng-controller="UmbracoForms.Editors.Security.EditController as vm" class="clearfix">

    <form name="securityForm" no-validate val-form-manager>

        <umb-editor-view>

            <umb-editor-header name="vm.page.name"
                               name-locked="true"
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="true">
            </umb-editor-header>

            <umb-editor-container class="form-horizontal">

                <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

                <umb-box ng-if="!vm.loading">
                    <umb-box-content>

                        <umb-control-group localize="label,description" label="@formSecurity_manageFormsLabel" description="@formSecurity_manageFormsDescription">
                            <umb-toggle checked="vm.security.userSecurity.manageForms"
                                        on-click="vm.toggleManageForms()">
                            </umb-toggle>
                        </umb-control-group>

                        <umb-control-group localize="label,description" label="@formSecurity_manageWorkflowsLabel" description="@formSecurity_manageWorkflowsDescription">
                            <umb-toggle checked="vm.security.userSecurity.manageWorkflows"
                                        on-click="vm.toggleManageWorkflows()">
                            </umb-toggle>
                        </umb-control-group>

                        <umb-control-group localize="label,description" label="@formSecurity_manageDatasourcesLabel" description="@formSecurity_manageDatasourcesDescription">
                            <umb-toggle checked="vm.security.userSecurity.manageDataSources"
                                        on-click="vm.toggleManageDataSources()">
                            </umb-toggle>
                        </umb-control-group>

                        <umb-control-group localize="label,description" label="@formSecurity_managePrevalueSourcesLabel" description="@formSecurity_managePrevalueSourcesDescription">
                            <umb-toggle checked="vm.security.userSecurity.managePreValueSources"
                                        on-click="vm.togglePreValueSources()">
                            </umb-toggle>
                        </umb-control-group>

                        <umb-control-group localize="label,description" label="@formSecurity_manageIndividualFormsLabel" description="@formSecurity_manageIndividualFormsDescription" ng-if="vm.security.formsSecurity.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><localize key="formSecurity_formName"></localize></th>
                                        <th><localize key="formSecurity_hasAccess"></localize></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="form in vm.security.formsSecurity | orderBy: 'FormName'">
                                        <td>
                                            {{ form.FormName }}
                                            <small class="guiDialogTiny">{{ form.Fields }}</small>
                                        </td>
                                        <td>
                                            <umb-toggle checked="form.HasAccess"
                                                        on-click="vm.toggleFormAccess(form)">
                                            </umb-toggle>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </umb-control-group>

                    </umb-box-content>
                </umb-box>

            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-left>
                    <umb-breadcrumbs ancestors="vm.breadcrumbs"
                                     allow-on-open="true"
                                     on-open="vm.goToPage(ancestor)">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>
                    <umb-button type="button"
                                action="vm.save()"
                                state="vm.page.saveButtonState"
                                button-style="success"
                                shortcut="ctrl+s"
                                label="Save"
                                label-key="buttons_save"
                                disabled="vm.loading">
                    </umb-button>
                </umb-editor-footer-content-right>

            </umb-editor-footer>

        </umb-editor-view>

    </form>

</div>
